.magzine {
    height: auto;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.magzine_top {
    height: 250px;
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* margin-left: 100px;        it will create problem */
    padding: 0 70px 0 70px;
    gap: 20px;
}

.magzine_top h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #153a5b;
}

.magzine_top p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 22px;
    color: #153a5b;
}

.magzine_top button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 22px;
    border: 1px solid lightgray;
    color: #153a5b;
    font-size: 16px;
}

.inner-wrapper {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    padding-left: 70px;
    /* height: 60vh; */
}

.pseudo-item {
    padding-bottom: 40px;
    /* height: 80%; */
}

.pseudo-item img {
    border-radius: 15px;
}

.pseudo-item p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: #153a5b;
}

/* scrollbar */
.inner-wrapper::-webkit-scrollbar {
    height: 5px;

}

/* Track */
.inner-wrapper::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

/* Handle */
.inner-wrapper::-webkit-scrollbar-thumb {
    background: #153a5b;
    border-radius: 10px;
    cursor: pointer;

}

/* Handle on hover */
.inner-wrapper::-webkit-scrollbar-thumb:hover {
    background: #153a5b;
    cursor: pointer;

}

/* media query */
@media screen and (max-width:1200px) {
    .magzine_top h1 {
        font-size: 50px;

    }

    .magzine_top button {
        height: 35px;
        width: 132px;
        font-size: 14px;
    }
}

@media screen and (max-width:791px) {
    .magzine_top {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start
    }

    .magzine_top h1 {
        font-size: 40px;
        padding-top: 40px;
    }

    .magzine_top p {
        font-size: 18px;
    }

    .magzine_top button {
        height: 35px;
        width: 132px;
        font-size: 12px;
    }
}

@media screen and (max-width:506px) {
    .magzine_top {
        height: 240px;
        padding: 0 30px 0 30px;
    }

    .inner-wrapper {
        padding-left: 30px;
    }

    .magzine_top h1 {
        font-size: 35px;
        padding-top: 40px;
    }

    .magzine_top p {
        font-size: 16px;
    }
}

@media screen and (max-width:460px) {
    .inner-wrapper {
        height: 50vh;
    }

    .pseudo-item {
        height: 80%;
        padding-bottom: 0px;
    }

    .pseudo-item img {
        height: 80%;
    }

}